/* .body-registro {
    height: 100vh;
    background: linear-gradient(to right top, #24242473, #24242473), url(../assets/img/background.jpg);
    background-size: cover;
    background-position: center;
} */

/* .section-registro{
    width: 30%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
} */